  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Think Forward</h1>
        <div class="row center">
          <h5 class="header col s12 light">Build skills for today, tomorrow, and beyond. Education to future-proof your career.</h5>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
  </div>

<div class="row">
  <div class"col-s12">
    <h3 class="center-align">Courses Catalog</h3>
  </div>
</div>
  
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col s6 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"><%= course.short_name %>: <%= course.name %></span>
            <p><%= course.description %></p>
          </div>
          <div class="card-action">
            <% if logged_in? && !(current_user.courses.include?(course)) %>
              <%= link_to "Enroll Now", course_enroll_path(course_id: course.id), method: :post %>
            <% end %>
            <a href="#">More Info</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  